
.layout {
  display: flex;
  height: 100vh;
}

.logo {
  color: #1db954;
  margin-bottom: 40px;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.topbar {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.topbar input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.topbar button {
  background: #1db954;
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 20px;
}

.sectionTitle {
  margin-bottom: 15px;
}

.row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.songCard {
  min-width: 170px;
  background: #181818;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.songCard:hover {
  background: #282828;
}

.songCard img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.imgWrap {
  position: relative;
}

.songCard:hover .playBtn {
  display: block;
}

.songCard h4,
.songCard p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.playerLeft img {
  width: 55px;
}
.playerLeft h4,
.playerLeft p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playerCenter {
  display: flex;
  align-items: center;
  gap: 15px;
}
.playerCenter button {
  background: #1db954;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}
.seek {
  width: 300px;
}

.player img {
  width: 50px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
}
.root{
    width: 100%;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #121212;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  color: #b3b3b3;
}

.sidebar li:hover {
  color: white;
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.searchBar {
  margin-bottom: 20px;
}

.searchBar input {
  padding: 8px;
  width: 250px;
  border-radius: 6px;
  border: none;
  margin-right: 10px;
}

.searchBar button {
  padding: 8px 12px;
  background: #1db954;
  border: none;
  color: white;
  border-radius: 6px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  background: #181818;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #282828;
}

.card img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
  object-fit: cover;
}

.imgBox {
  position: relative;
}

.playBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #1db954;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: none;
}

.card:hover .playBtn {
  display: block;
}

.card h4 {
  margin: 8px 0 2px;
  font-size: 14px;
}

.card p {
  font-size: 12px;
  color: gray;
}

.player {
  position: fixed;
  bottom: 0;
  left: 240px;
  right: 0;
  height: 80px;
  background: #181818;
  border-top: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.playerLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px; 
}
.playerLeft div {
  overflow: hidden;
}
.nowPlaying {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nowPlaying img {
  width: 50px;
}

.controls button {
  margin-left: 10px;
  padding: 6px 12px;
  background: #1db954;
  border: none;
  color: white;
  border-radius: 6px;
}

.loginPage {
  height: 100vh;
  background: linear-gradient(#121212, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.loginCard {
  background: #181818;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.loginTitle {
  text-align: center;
  color: #1db954;
  margin-bottom: 10px;
}

.loginCard input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #282828;
  color: white;
  font-size: 14px;
}

.loginCard input:focus {
  outline: 2px solid #1db954;
}

.loginBtn {
  background: #1db954;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.loginBtn:hover {
  transform: scale(1.05);
}

.registerBtn {
  background: transparent;
  border: 1px solid #555;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.registerBtn:hover {
  background: #282828;
}

.authPage {
  height: 100vh;
  background: linear-gradient(#121212, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.authCard {
  width: 340px;
  background: #181818;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.authTitle {
  text-align: center;
  color: #1db954;
  margin-bottom: 10px;
}

.authCard input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #282828;
  color: white;
  font-size: 14px;
}

.authCard input:focus {
  outline: 2px solid #1db954;
}

.primaryBtn {
  background: #1db954;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.primaryBtn:hover {
  transform: scale(1.05);
}

.secondaryBtn {
  background: transparent;
  border: 1px solid #555;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.secondaryBtn:hover {
  background: #282828;
}

.loaderBox {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
